@model SongsViewModel

<a href="/roll">⚂</a>
<table>
    @for (byte i = 1; i <= Model.Songs.Count; ++i)
    {
        Song song = Model.Songs[i - 1];
        <tr>
            <td>
                @{
                    <a href="/toggleLearned?id=@i">♮</a>
                }
            </td>
            <td>
                @{
                    if (!song.Learned)
                    {
                        <text>♮</text>
                    }
                    else if (i == Model.Data.LastOrderedSongId)
                    {
                        <text>♪</text>
                    }
                    else if (i == Model.Data.RandomSongId)
                    {
                        <text>♫</text>
                    }
                }
            </td>
            <td>
                <a href="/song?id=@i">@song.Author — @song.Name</a>
            </td>
        </tr>
    }
</table>
<a href="https://yousician.com/guitartuna" target="_blank">🎸</a>