@using SongBook.Web.Models
@model SongBook.Web.Models.SongsViewModel

<style>
    a:link {
        text-decoration: none;
    }
    .inProgress {
        color: lightgray;
    }
    .ready {
        color: darkgray
    }
    .learned {
        color: blue
    }
</style>

<a href="/roll">⚂</a>
<table>
    @for (byte i = 0; i < Model.Songs.Count; ++i)
    {
        Song song = Model.Songs[i];
        <tr>
            <td>
                @{
                    if (song == Model.FirstSongToLearn)
                    {
                        <text>♮</text>
                    }
                    else if (i == Model.Data.LastOrderedSongId)
                    {
                        <text>♪</text>
                    }
                    else if (i == Model.Data.RandomSongId)
                    {
                        <text>♫</text>
                    }
                }
            </td>
            <td>
                @{
                    string songClass = song.Learned ? "learned" : song.Ready ? "ready" : "inProgress";
                }
                <a href="/song?id=@i" class=@songClass>@song.Author — @song.Name</a>
            </td>
        </tr>
    }
</table>
<a href="https://yousician.com/guitartuna" target="_blank">🎸</a>