@model IList<Song>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (Song song in Model)
    {
        <h1 class="display-4">@song.Author — @song.Name</h1>
        foreach (HalfBarData halfBar in song.HalfBars)
        {
            <p>@halfBar.Chord @halfBar.Text</p>
        }
    }
</div>
